!!! 5
html(lang="en")
  head
    script(type='text/javascript', src='assets/js/lib/jquery-1.7.1.min.js')
    link(rel='stylesheet',type='text/css',href='assets/css/styles.css')
    title The Silence
  body
    !=body

